.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--border-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fcfc30 #465eff;
  animation: l1 1s infinite;
}

.spinner.success {
  border-color: #ffffff #465eff;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
